body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;

}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
h2{
    font-size: 35px;
}
.orange-color{
    color: orange;
}

}
section{
    display: flex;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 80%;
    padding: 5%;
}
.half-width img{
    width: 80%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    font-weight: 700;
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 10px;
    
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}
.Intensive-work{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    
    display: block;
    
    margin-bottom: 20px;
    
}
.experiences-area h1{
    margin: 5%;
}
.exprerience-item{
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
}
#web-developper{
    border-left: 7px solid;
    border-image: linear-gradient(#db340b, #e495a9) 30;
    border-image-slice: 1;
}
#web-baby-developper{
    border-left: 7px solid;
    border-image: linear-gradient(#190bdb, #95bee4) 30;
    border-image-slice: 1;
}
}
